<div class="container" ng-controller="employeesController" ng-init="onInit()">
    <h3 class="text-center">Employees</h3>
    <button type="button" class="btn btn-primary" id="addEmployee" data-toggle="modal" data-target="#employeeModal"> Add Employee</button>
    <div ng-if="employees.length > 0" ng-repeat="employee in employees">
        <div class="card">
            <div class="card-header border-bottom-0 table-header" data-toggle="collapse" data-target="#{{employee.id}}" aria-expanded="false" aria-controls="collapse">
                {{employee.name}} {{employee.lastName}}
                <button ng-click="deleteEmployee($event)" type="button" class="btn btn-danger float-right btn-sm table-button" data-category="{{employee.id}}">Delete</button>
                <button ng-click="setupEditEmployee(employee.id,employee.name,employee.lastName,employee.description)" type="button" class="btn btn-primary float-right btn-sm table-button" data-toggle="modal" data-category="{{employee.id}}" data-role="button" data-target="#editEmployeeModal" data-firstName="{{employee.name}}">Edit</button>
            </div>
        </div>

        <div id="{{employee.id}}" class="collapse">
            <div class="card-block border" id="employeeDescriptionBlock" >
                <h6 class="card-title">About {{employee.name}}</h6>
                <p class="card-text">{{employee.description}}</p>
            </div>
        </div>
    </div>
    <div ng-if="employees.length == 0" class="card">
        <div class="card-header">No employees yet.</div>
    </div>
    <!--Modals-->
    <!--Employees-->
    <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-shadow"></div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeeModalLabel">New employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="employeeName" class="col-form-label">Employee name</label>
                        <input ng-model="name" type="text" class="form-control" id="employeeName">
                    </div>
                    <div class="form-group">
                        <label for="employeeLastName" class="col-form-label">Employee last name</label>
                        <input ng-model="lastName" type="text" class="form-control" id="employeeLastName">
                    </div>
                    <div class="form-group">
                        <label for="employeeDescription" class="col-form-label">Employee last name</label>
                        <textarea ng-model="description" type="textarea" class="form-control" id="employeeDescription" rows="5" maxlength="300"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="addNewEmployee($event)" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" data-backdrop="false">
        <div class="modal-shadow"></div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmployeeModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newEmployeeName" class="col-form-label">Employee name</label>
                        <input ng-model="editEmployeeName" type="text" class="form-control"  id="newEmployeeName" >
                    </div>
                    <div class="form-group">
                        <label for="newEmployeeLastName" class="col-form-label">Employee last name</label>
                        <input ng-model="editEmployeeLastName" type="text" class="form-control" id="newEmployeeLastName">
                    </div>
                    <div class="form-group">
                        <label for="newEmployeeDescription" class="col-form-label">Employee last name</label>
                        <textarea ng-model="editEmployeeDescription" type="textarea" class="form-control" id="newEmployeeDescription" rows="5" maxlength="300"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button ng-click="editEmployee()" type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
