.table {
    margin: 0;
}

.table-button {
    margin-left: 5px;
}

.table-header {
    padding: 12px;
}

.modal-shadow {
    position: fixed;
    background-color: rgba(26,26,26,.5);
    width: 100%;
    height: 100%;
}

.add-button {
    margin-bottom: 10px;
}